@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    font-family: "a-otf-ryumin-pr6n", serif;
    font-weight: 300;
    font-style: normal;
    list-style: 1.7;
    color: #432;
}

a{
    text-decoration:none;
}
img{
    max-width: 100%;
}



/*レイアウト*/

.align-left{
    text-align:left;
    margin-left: 1.2rem;
}

.align-center{
    text-align:center;
    margin-top: 1.2rem;
}

/*横並び*/
.flex{
    display: flex;
}
.home-flex{
    display: flex;
}


/*見出し*/
.font-english{
    font-family: 'philosopher',sans-serif;
    font-weight:300;
}
.page-title{
    text-align: center;
    margin-top: 2rem;
    line-height: 1rem;
}

.page-title-1{
    margin-top: 2rem;
    line-height: 1rem;
}

.page-top{
    color: rgb(170, 170, 170);
    text-align: center;
    margin-top: 4rem;
    line-height: 3rem;
    font-size: 2.2rem
    
}

.works-title{
    color: rgb(170, 170, 170);


    text-align: left;
    margin-top: 2rem;
    margin-left: 1.2rem;
    line-height: 3rem;
    font-size: 6rem;

    border-bottom: solid 2px  rgb(170, 170, 170);
    width: 420px;
    height: 100px;

}



.main-work{
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

.table-work{
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 4rem;
    max-width: 100%;
    width: 800px;
    height: 36px;
}

.table-work th, 
.table-work td{
   text-align:left;
   background-color: #EFEFEF;   
   padding-left: 2em; 
} 

.table-work th {
   text-align:left;
   background-color: #F39800;
   color: #fff;   
   font-weight: lighter;   
   width: 20%;   
   min-width: 4em;   
   padding-left: 2em; 
   position: relative; }


/*ヘッダー*/

.page-header{
    padding-top: 0.5rem;
    
}
#logo-header{
    display:  block;
    max-width: 100%;
    height: 80px;
    border-bottom: solid 3px   rgb(170, 170, 170);
    justify-content: center;

    
}


.logo{
    margin-left: 1.2rem;
    text-align:left;

    height: 64px;
   
}

.sns{
    height: 40px;
    padding-top: 8px;
    margin-left: 10px;
    
}

/*タブ*/
.main-nav{
    margin-right: 1.2rem;
    display: flex;
    justify-content: right;
    gap: 2.5rem;
    font-size: 1.2rem;
    list-style: none;
}

.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: rgb(255, 157, 0);
}

/***トップへ戻るボタン***/
/* ボタン全体 */
#page-top {
    font-size: 1.4rem;
    font-weight:bold;
    color: rgb(255, 187, 79);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.arrow_right {
    position: relative;
    bottom: 12px;

  }

.arrow_right::before { /* くの字の表示設定 */
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -80%;
    width: 16px;    /* くの字を山なりに見た時、左側の長さ */
    height: 16px;   /* くの字を山なりに見た時、右側の長さ */
    border-top: 3px solid rgb(255, 201, 115);   /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 3px solid rgb(255, 201, 115);  /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(-45deg);    /* くの字の向き */
  }  

  .arrow_right::after { /* くの字の表示設定 */
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%  -20%;
    width: 16px;    /* くの字を山なりに見た時、左側の長さ */
    height: 16px;   /* くの字を山なりに見た時、右側の長さ */
    border-top: 3px solid rgb(255, 201, 115);   /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 3px solid rgb(255, 201, 115);  /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(-45deg);    /* くの字の向き */
  }  

/*名前*/
.kiichi{
    font-size: 2rem;
}
.atumaru{
    font-size: 1.2rem;
}

/*コンタクト*/

  
  /*---------------------------------
      メールフォーム
  ---------------------------------*/
  #formWrap{
      max-width: 80%;
      width: 100%;
      
  }
  .form_inner{
      width: 100%;
      margin: 0 auto;
      background-color: #FFF;
      
      padding: 25px;
      margin-top: 25px;
      margin-bottom: 100px;
      -webkit-border-radius:20px;
      -moz-border-radius: 20px;
      -o-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px; 
  }
  
  #formWrap {
    max-width: 100%;
    width:60%;
    margin:0 auto;
    line-height:150%;
    font-size: 16px;
    
  }


  table.formTable{
    width:100%;
    margin:0 auto;
    border-collapse:collapse;
  }
  table.formTable td,table.formTable th{
    border:1px solid #ccc;
    padding:12.5px;
  }
  table.formTable th{
    widows: 40%;
    font-weight:normal;
    background:#efefef;
    text-align:right;
  }
  input,textarea{
      padding: 6.25px 12.5px;
      -webkit-border-radius:5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      border:1px solid #CCCCCC;
  }
  

  .color{
    background-color: rgb(255, 201, 115);
  }

/*アバウト*/
.kiichi-image  {  
    margin: 1.2rem;
    width: 360px;
    height: 360px;
}

#kiichi-about{  
    font-size: 1.6rem;
}

.right{
    margin-left: 2.8rem;
    width: 880px;
    height: 360px;
}

#profile{
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
    list-style: none;
    line-height:19px;
}

#profile li{ 
    margin-bottom: 8px;
}

#profile2{
    padding: 0;
    text-align: left;
    font-size: 1.6rem;
    list-style: none;
    line-height:24px;
}

#profile2 li{ 
    margin-bottom: 12px;
}

.table{
    position:relative;
    border-collapse: collapse;
    margin-top: 32px;
    margin-left: 1rem;
    width: 640px;
    max-width: 100%;
    height: 280px;
}

.table th, 
.table td{
   border: 3px solid #fff;
   background-color: #EFEFEF;   
   border-radius: 0 12px 12px 0;  
   padding-left: 1.6em; 
} 

.table th {
   background-color: #F39800;
   color: #fff;   
   font-weight: bold;   
   text-align: center;   
   border-radius: 12px 0 0 12px;   
   width: 20%;   
   min-width: 4em;   
   padding-left: 0em; 
   position: relative; }

.graph-image  {  
    margin: 1rem;
    margin-right: 1.2;
    width: 640px;
}

/*work*/
.work-title{
    max-width: 100%;
    text-align: left;
    font-size: 2.4rem;
    font-weight: bold;
    word-break: break-word;
    width:800px ;
   
    
}

#work-text{
    position: relative;
    max-width: 100%;
    width:800px ;
    left:50%;
    transform: translate(-50%);
    }

.work-messsage{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    
}    
.work-main{

    max-height:560px;

    position: relative;
    left:50%;
    transform: translate(-50%);

    margin-top: 1rem;

    
}

.work-table{
    font-size: 1.2rem;
   
}

.work-table th{
    text-align: left;
    
}
.work-table td{
    padding-left: 1rem;

}


.work-img{
    max-width: 100%;

    position: relative;
    left:50%;
    transform: translate(-50%);

    margin: 0px auto;
    text-align: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.work-img h1{
    max-width: 100%;
    width: 800px;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    


  }

  .work-flex{
    display: flex;
    gap :2rem;
    width: 1380px;
    text-align:center;

    position: relative;
    left:50%;
    transform: translate(-50%);

    
  }

  @media screen and (min-width:1380px) {
    .work-flex{
        text-align:center;

    
    }  
}

  
  .work1-1 {
    width: 320px;
    display:block;
  }


  .work1-1 p{
    width:320px;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    padding-bottom:1rem ;
  }


  .work2-1 {
    width: 100%;

    display:block;
  }
    .work2-1 p{
        max-width: 100%;
        width:800px ;
        flex-direction: row;
        text-align: left;
        justify-content: center;
        padding-bottom:1rem ;

        position: relative;
        left:50%;
        transform: translate(-50%);
    
  }

  .work2-2 {
    width: 100%;


    display:block;
  }
    .work2-2 p{
        max-width: 100%;
        width:360px ;
        flex-direction: row;
        text-align: left;
        justify-content: center;
        padding-bottom:1rem ;

        position: relative;
        left:50%;
        transform: translate(-50%);
    

  }

  .work2-3 img{
    max-width: 240px;
   
    
}

.work2-3 {
    width: 320px;


    display:block;
  }

  .work2-3 img{
    width: 320px;
    
}

.work-img img{
     
      max-width: 100%;
      max-height:560px;
      
      padding-top: 1rem;
      padding-bottom: 1rem;

      
  }

@media screen and (min-width:800px) {
    .work-img img{
        max-width: 800px;
    }  
}



@media screen and (max-width:390px) {
    body{
        max-width: 390px;
        width: 100%;

    }

    .logo{
        margin-left: 0.5rem;
    }

    .kiichi{
        font-size: 24px;
    }

    .atumaru{
        font-size: 16px;
    }

    .works-title{
        font-size: 2.4rem;
        text-align: center;
    margin-top: 2rem;
    margin-left: 0;
    line-height: 3rem;
    

    border-bottom: solid 2px  rgb(170, 170, 170);
    width: 140px;
    height: 56px;
    }

    .work-flex{
        max-width: 320px;
        display: block;
    }

  


    #work-text{
        display: block;
        width: 320px;
    
    }

    .work-title{
        font-size: 1.6rem;
        line-height:26px;
    }

    .work-table{
        font-size: 14px;
    }

    .work-img h1{
        width: 320px;
        font-size: 1.6rem;
    }

    .work1-1 {
    
        margin: 0 auto;

      }
    
    
      .work1-1 p{
        width:320px;

      }
    
    
      .work2-1 {
        width: 320px;
        display:block;
        margin: 0 auto;
      }
        .work2-1 p{
            max-width: 100%;
            width:320px ;        
      }
    
      .work2-2 {
        width: 320px;
        display:block;
        margin: 0 auto;
      }
        .work2-2 p{
            max-width: 320px;
    
      }
    
      .work2-3 img{
        max-width: 240px;
     
    }
    
    .work2-3 {
        width: 320px;
    
    
        display:block;
      }
    
      .work2-3 img{
        width: 320px;
        
    }

    .about-none{
        margin: 0;
        
    }
    .kiichi-image{
        width: 72%;
        margin: 0 auto;
        
    }

    .flex{
        display: block;
    }
    .table{
        position: initial;
        height:160px;
        margin: 0 ;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .graph-image{
        max-width: 390px;
        width: 100%;
        margin: 0;
    }
    #profile{
        max-width: 320px;
        width: 85%;
        font-size: 0.8rem;
        line-height:15px;
    }
    #profile2{
        max-width: 320px;
        width: 100%;
        font-size: 1rem;
        margin-top: 1.6rem;
        line-height:19px;
    }

.table th, 
.table td{
    padding-left: 0em; 
    font-size: 1rem;
    text-align: center;
    
} 
       
   
    .right{
        width: 320px;
        margin: 0 auto;

    }
    #kiichi-about{
        font-size: 1.4rem;
        padding-top: 0;
        margin: 0;
        
    }


    #formWrap{
        max-width: 100%;
        width: 320px;
    
    }
    .form_inner{
        width: 320px;
        margin: 0 auto;
  
        padding: 8px;
        margin-top: 8px;
        margin-bottom: 60px;
        -webkit-border-radius:8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        -ms-border-radius: 8px;
        border-radius: 8px; 
        
        
    }
    
    #formWrap {
      max-width: 100%;
      width:320px;
      height: 300px;
      margin:0 auto;
      line-height:10%;
      font-size: 12px;
      
    }
  
  
    table.formTable{
      width:320px;
      margin:0 auto;
      border-collapse:collapse;
    }
    table.formTable td,table.formTable th{
      border:1px solid #ccc;
      padding:8px;
    }
    table.formTable th{
      widows: 40%;
      font-weight:normal;
      background:#efefef;
      text-align:right;
    }
    .formTable input,textarea{
        width: 180px;
    }
    
    
  

  

}